/* General body styling with Georgia font, a soft background color, and centered text */
body {
    box-sizing: border-box;
    background-color: #e0d5ed;
}


nav{
    background-color:#7851a9;
      
}

table {
    text-align: center;
}

/* Container for both APIs with a centered and responsive layout */
.container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 150px;
    width: 100%;
    /* Set width to 100% of the viewport width */
}

/* Styling of the container when search results are rendered */
.container-alt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
}

/* Styling for individual API sections with rounded edges */
.dictionary-search,
.book-search {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    /* Rounded edges for elegance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px);
    /* Adjust width for spacing */
    margin: 10px;
    /* Spacing between elements */
    box-sizing: border-box;
}

/* Styling of the search div when results are rendered */
.book-search-results {
    display: flex;
    background-color: white;
    padding: 0 10px;
    border-radius: 15px;
    /* Rounded edges for elegance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px);
    /* Adjust width for spacing */
    margin-bottom: 30px;
    /* Spacing between elements */
    box-sizing: border-box;
}

/* Header styling with a subtle color accent */
h1 {
    color: #7851a9;
    /* Elegant purple accent */
    font-size: 24px;
}

/* Styling for input fields with rounded edges */
.input {
    width: 100%;
    /* Full width with padding and border */
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    /* Rounded edges for input fields */
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Styling of the search input when results are rendered */
.book-search-input-reults {
    width: 100%;
    /* Full width with padding and border */
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px 0 0 8px;
    /* Rounded edges for input fields */
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Styling for buttons with rounded edges and accent color */
.dictionary-search-btn,
.book-search-btn,
.add-btn {
    width: 100%;
    /* Full width button */
    padding: 10px 0;
    background-color: #7851a9;
    /* Elegant purple background */
    color: white;
    border: none;
    border-radius: 8px;
    /* Rounded edges for buttons */
    cursor: pointer;
    margin: 10px 0;
}

/* Styling of the search button when results are rendered */
.book-search-btn-results {
    width: 30%;
    padding: 10px 0;
    background-color: #7851a9;
    /* Elegant purple background */
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    /* Rounded edges for buttons */
    cursor: pointer;
    margin: 10px 0;
}

/* Button hover effect for interactive feel */
button:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.add-btn:hover {
    background-color: #7851a9;
}

/* Result display areas with rounded edges */
#dictionary-result,
#book-result {
    margin-top: 20px;
    padding: 15px;
    background-color: #eee;
    border-radius: 8px;
    /* Rounded edges for result areas */
    text-align: left;
    /* Align text to the left inside these containers */
}

.card-div {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

/* Styling of columns that contain the cards */
.col {
    margin-bottom: 30px;
}

/* Styling of the My Books table */
#my-books-h1 {
    text-align: center;
    margin-top: 0;
}

.my-books-cover {
    width: 40%;
    height: 40%;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead>tr>th {
    border-bottom: 1px solid black;
}

tbody>tr:hover {
    background-color: #e0d5ed;
}

/* The .hidden class can be used on any element to make it invisible */
.hidden {
    display: none;
}

.word {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.meaning {
    color: rgb(146, 146, 146);
    font-family: italic;
    border-left: 2px solid rgb(146, 146, 146);
    padding-left: 10px;
}

.word-details {
    font-family: italic;
    font-weight: normal;
    font-size: 15px;
}


/* Overwritten CSS rule coming from Bootstrap */

/* Remove padding around cover pictures in the My Books table */
.table>:not(caption)>*>* {
    padding: 0;
}

/*Media Query*/

@media only screen and (max-width: 600px) {
    .container {
        margin-top: 50px;
    }

    #dictionary-div {
        width: 90%;
    }

    .word-details {
        margin-left: 10px;
    }

    .word {
        display: block;
    }

    audio {
        width: 80%;
    }

    .book-search {
        width: 90%;
    }

    .results-div {
        display: block;
        margin: 0 auto;
    }
.book-search-results {
    width: 90%;
}

}